/* Variables */
$text-primary: #4A4A4A;
$text-secondary: #FFFFFF;
$bg-primary: #F5CD23;
$bg-secondary: #4A4A4A;
$bg-tertiary: #FFFFFF;
$border: #979797;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$font-primary: 'Roboto', sans-serif;

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

/* Styles */
body {
	height: 100%;
  font: 14px $font-primary;
  // line-height: 1.4em;
  color: $text-primary;
  margin: 0 auto;
  box-sizing: border-box;
	text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

td {
	// padding: 12px;
}

h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  margin: 20px 0px;
  padding: 15px;
  text-align: center;
}

h2 {
	margin: 20px 0px;
	color: $text-primary;
}

h4 {
  margin: 10px 0px;
}


.village-button {
  background-color: $bg-secondary;
  color: $text-secondary;
  border: 1px solid $border;
  border-radius: 8px;
  width: 220px;
  height: 50px;
  font-size: 15px;
  margin: 30px 0px;
}


#nav {
  padding: 10px 20px;
  background: $bg-secondary;
  font-weight: bold;
  font-size: 15px;
  color: $text-secondary;
  display: flex;
	justify-content: space-between;
	.left {
		display: flex;
		justify-content: center;
		a {
			margin-right: 20px;
		}
	}
}

#wrap {
		height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 30px;
}

#about {

}


#footer {
	position: relative;
  margin-top: -30px; /* negative value of footer height */
  height: 30px;
  clear: both;
	width: 100%;
  padding: 10px 20px;
  background: $bg-secondary;
	text-align: center;
  font-size: 12px;
  color: $text-secondary;
  border: 1px solid $border;
}

#splash {
  text-align: center;

  .splash-header {
    background: $bg-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
		height: calc(100vh - 50px);
    p {
      margin: 20px;
      width: 75%;
    }
  }
  .splash-content {
    background: $bg-tertiary;
		height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 75%;
			margin: 30px;
    }
  }

}
